* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

span{
    display: block;
    font-size: 28px;
}

body  {
    font-family: 'Arial' , sans-serif;
}
body{
    overflow-x: hidden;
}
nav {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
    padding-right: 30px;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 22px;
    text-decoration: none;
    font-family:questrial, sans-serif;
    color: #000;
    font-size: 1.1rem;
    
}
nav .mainMenu li a:hover {
    background: #f3f1f0e3;
    border-radius: 15px;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-youtube:hover {color: rgb(255, 30, 0);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgba(68, 61, 55, 0.931);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
@import url(//db.onlinewebfonts.com/c/f6a8b2423790ec81bbbd18662bbc7f03?family=BelindaW00-Regular);
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.logo{
    font-size: 13px;
    font-family:'Yellowtail', cursive;
    font-weight: 700;
    
  }
  .logo span{
    padding-left: 20%;
    line-height: 50%;
    width: 250px;
    font-size: 21px;
    font-weight: 500;
    font-family:questrial, sans-serif;
  }




.about{
    text-align: center;
    font-size: 28px;
    color:white;
    background-color:black;
    font-weight: 800;
    padding: 25px 0 25px 0;
    font-family: Montserrat,sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.name{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 80px;
    background-color: #777;
    padding-top: 35px;
    padding-bottom: 35px;
	font-size: 35px;
	font-family: "Dancing Script", cursive;
}
  section{
	   font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.image{
    background: url("pics/DSC_0121-1.jpg") center/cover no-repeat;
    margin-bottom: 30px;
    margin-top: 4px;
}
.content{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content h2{
    text-transform: uppercase;

    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content .bl{
 font-size: 20px;
}
.content p{
    padding-bottom: 15px;
    font-weight: 600;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}
.links{
    margin: 15px 0;
}
.links li{
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}
.links li:hover{
    border-color: #06d6a0;
}
.links li:hover a{
    color :#06d6a0;
}
.vertical-line{
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #06d6a0;
}


/*****************/

@media(max-width: 992px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image{
        height: 100vh;
    }
    .content{
        height: 100vh;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}





footer{
    background-color: rgb(204, 197, 197);
    color:black;
    font-size: 14px;
    text-align: center;
    padding: 25px 0px 15px 0px;
    margin-bottom: 0px!important;
}
footer .media{
    padding-top: 10px;
    font-size: 20px;
    color:black;
    padding-bottom: 10px;
}
